body {
  text-align: center;
  box-sizing: border-box;
}

table {
  margin: auto;
}

.tabela {
  display: inline-block;
  margin: 0 5px;
}

.tabela button {
  margin: 0 5px;
}

.adicionar {
  padding: 3px;
  width: 50%;
  margin: 0 !important;
}

td {
  padding: 7px;
}

header * {
  display: inline-block;
}

header img {
  height: 25px;
}

header h1 {
  padding: 0 20px;
}

input:not(input[type="checkbox"]) {
  width: 100%;
  margin-bottom: 11px;
}

form {
  width: 500px;
  text-align: left;
  margin: auto;
}
